@font-face {
  font-family: "font_family"; /* Project id 2180542 */
  src: url('iconfont.woff2?t=1706193116720') format('woff2'),
       url('iconfont.woff?t=1706193116720') format('woff'),
       url('iconfont.ttf?t=1706193116720') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e642";
}

.icon-notion:before {
  content: "\e641";
}

.icon-eye-l:before {
  content: "\e63f";
}

.icon-portfolio-l:before {
  content: "\e640";
}

.icon-heart:before {
  content: "\e63e";
}

.icon-notes-l:before {
  content: "\e63d";
}

.icon-fire-l:before {
  content: "\e63c";
}

.icon-mobile-l:before {
  content: "\e622";
}

.icon-forum-l:before {
  content: "\e623";
}

.icon-image-l:before {
  content: "\e624";
}

.icon-read-l:before {
  content: "\e625";
}

.icon-server-l:before {
  content: "\e626";
}

.icon-operation-l:before {
  content: "\e627";
}

.icon-light-l:before {
  content: "\e628";
}

.icon-image:before {
  content: "\e629";
}

.icon-prototype-l:before {
  content: "\e62a";
}

.icon-square:before {
  content: "\e62b";
}

.icon-network-l:before {
  content: "\e62c";
}

.icon-star-l:before {
  content: "\e62d";
}

.icon-platform-l:before {
  content: "\e62e";
}

.icon-triangle:before {
  content: "\e62f";
}

.icon-angle-down-l:before {
  content: "\e630";
}

.icon-right-clipboard-l:before {
  content: "\e631";
}

.icon-user-l:before {
  content: "\e632";
}

.icon-storage-l:before {
  content: "\e633";
}

.icon-wrench-l:before {
  content: "\e634";
}

.icon-talk-l:before {
  content: "\e635";
}

.icon-site-folder-l:before {
  content: "\e636";
}

.icon-text-l:before {
  content: "\e637";
}

.icon-trophy-l:before {
  content: "\e638";
}

.icon-warning-l:before {
  content: "\e639";
}

.icon-write-l:before {
  content: "\e63a";
}

.icon-rollerbrush-l:before {
  content: "\e63b";
}

.icon-angle-up-l:before {
  content: "\e610";
}

.icon-bookmark-l:before {
  content: "\e611";
}

.icon-briefcase-l:before {
  content: "\e612";
}

.icon-camber:before {
  content: "\e613";
}

.icon-container-l:before {
  content: "\e614";
}

.icon-command-l:before {
  content: "\e615";
}

.icon-code-branch:before {
  content: "\e616";
}

.icon-blackboard-l:before {
  content: "\e617";
}

.icon-board-l:before {
  content: "\e618";
}

.icon-bar-chart-l:before {
  content: "\e619";
}

.icon-box-l:before {
  content: "\e61a";
}

.icon-paper-plane-l:before {
  content: "\e61b";
}

.icon-circle:before {
  content: "\e61c";
}

.icon-cup-l:before {
  content: "\e61d";
}

.icon-chemistry-l:before {
  content: "\e61e";
}

.icon-folder-l:before {
  content: "\e61f";
}

.icon-control-rank:before {
  content: "\e620";
}

.icon-gene:before {
  content: "\e621";
}

.icon-qianduankuangjia2:before {
  content: "\e605";
}

.icon-xietonggongzuo:before {
  content: "\e606";
}

.icon-goujiangongju:before {
  content: "\e607";
}

.icon-goujiangongju2:before {
  content: "\e608";
}

.icon-qianduankuangjia:before {
  content: "\e609";
}

.icon-jiaohusheji2:before {
  content: "\e604";
}

.icon-jiaohusheji1:before {
  content: "\e602";
}

